@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --background: #000000;
  --foreground: #ffffff;

  --primary: #ff0000;

  --text-hover: gray;

  // font
  --font-primary: var(--font-ibm-plex-mono);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Open Sans", serif;
  font-family: "M PLUS Rounded 1c", serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
