@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: black;
  --foreground: #ffffff;

  /* color */
  --primary: #e72121;
  --secondary: #55beee;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* 再利用コード */
/* subpageのmain text */
@layer components {
  .subpage-main-text {
    @apply mb-10 text-base leading-relaxed sm:leading-loose text-white;
  }
}

@layer components {
  .hero-text {
    @apply relative text-white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
}
@layer utilities {
  @keyframes floating {
    0% {
      transform: translateY(0) rotateX(0deg) rotateY(0deg);
    }
    25% {
      transform: translateY(-10px) rotateX(5deg) rotateY(-5deg);
    }
    50% {
      transform: translateY(0) rotateX(0deg) rotateY(0deg);
    }
    75% {
      transform: translateY(-10px) rotateX(-5deg) rotateY(5deg);
    }
    100% {
      transform: translateY(0) rotateX(0deg) rotateY(0deg);
    }
  }

  .animate-floating {
    animation: floating 5s infinite ease-in-out;
  }
}
