@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: black;
  --foreground: #ffffff;

  /* color */
  --primary: #e72121;
  --secondary: #55beee;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* 再利用コード */
/* subpageのmain text */
@layer components {
  .subpage-main-text {
    @apply mb-10 text-base leading-relaxed sm:leading-loose text-white;
  }
}

@layer components {
  .hero-text {
    @apply relative text-white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
}
@layer utilities {
  @keyframes floating {
    0% {
      transform: translateY(0) rotateX(0deg) rotateY(0deg);
    }
    25% {
      transform: translateY(-10px) rotateX(5deg) rotateY(-5deg);
    }
    50% {
      transform: translateY(0) rotateX(0deg) rotateY(0deg);
    }
    75% {
      transform: translateY(-10px) rotateX(-5deg) rotateY(5deg);
    }
    100% {
      transform: translateY(0) rotateX(0deg) rotateY(0deg);
    }
  }

  .animate-floating {
    animation: floating 5s infinite ease-in-out;
  }
}
@layer utilities {
  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}
/* Contact/Thanksでの紙吹雪 */
@layer utilities {
  @keyframes confetti-fall {
    0% {
      transform: translateY(-100vh) rotateZ(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh) rotateZ(360deg);
      opacity: 0;
    }
  }

  /* 増やす紙吹雪の設定 */
  .confetti {
    position: absolute;
    top: -10px;
    width: 10px;
    height: 10px;
    opacity: 0;
    animation: confetti-fall 3s linear infinite;
  }

  /* 紙吹雪のランダムな位置・色 */
  .confetti-1 {
    left: 10%;
    background-color: #ffcc00;
    animation-duration: 4s;
  }
  .confetti-2 {
    left: 20%;
    background-color: #ff3366;
    animation-duration: 3.5s;
  }
  .confetti-3 {
    left: 30%;
    background-color: #66ff99;
    animation-duration: 3.8s;
  }
  .confetti-4 {
    left: 40%;
    background-color: #3399ff;
    animation-duration: 4.2s;
  }
  .confetti-5 {
    left: 50%;
    background-color: #ff66cc;
    animation-duration: 4.5s;
  }
  .confetti-6 {
    left: 60%;
    background-color: #ffcc00;
    animation-duration: 3s;
  }
  .confetti-7 {
    left: 70%;
    background-color: #ff3366;
    animation-duration: 4s;
  }
  .confetti-8 {
    left: 80%;
    background-color: #66ff99;
    animation-duration: 3.5s;
  }
  .confetti-9 {
    left: 90%;
    background-color: #3399ff;
    animation-duration: 4.2s;
  }
  .confetti-10 {
    left: 95%;
    background-color: #ff66cc;
    animation-duration: 4s;
  }
}
