@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Outfit&display=swap");

:root {
  --background: #000000;
  --foreground: #ffffff;

  --primary: #ff0000;

  --text-hover: gray;

  // font
  --font-primary: var(--font-ibm-plex-mono);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Outfit", "BIZ UDPGothic", serif;
  font-optical-sizing: auto; /* Outfit専用のオプション */
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
