.titleBox {
  width: 100%;
  margin-bottom: 70px;
  .jaTitle {
    display: block;
    margin-bottom: 16px;
  }
  .enTitle {
    display: block;
    font-size: 14px;
    line-height: 14px;
  }
}

.small {
}
.default {
  font-size: 20px;
  line-height: 30px;
}
