.footer {
  width: 100%;
  height: auto;
  padding: 30px 0px;
  .container {
    width: 90%;
    margin: 0 auto;
    .top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      .right {
        .topButton {
          .text {
          }
        }
      }
    }
    .center {
      display: flex;
      justify-content: space-between;
      .left {
        width: 10%;
      }
      .right {
        width: auto;
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      .link {
        .text {
        }
      }
      .copyRight {
      }
    }
  }
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 768px) {
}
