.profile {
  width: 100%;
  height: auto;
  padding: 20px 0px 30px 0px;
  overflow: hidden;
  .container {
    width: 70%;
    margin: 0 auto;
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 60px;
      .left {
        width: 500px;
        height: auto;
        .image {
          width: 100%;
          height: auto;
        }
      }
      .right {
        width: 50%;
        // padding-top: 40px;
        .enName {
          font-size: 14px;
          color: var(--primary);
          margin-bottom: 3px;
        }
        .name {
          font-size: 30px;
          letter-spacing: 1.3px;
          margin-bottom: 30px;
        }
        ul {
          padding-left: 20px;
          margin-bottom: 40px;
          li {
            font-size: 14px;
            color: rgb(190, 190, 190);
          }
        }
        .desc {
          font-size: 16px;
          line-height: 28px;
        }
      }
    }
    .bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .left {
        .title {
          color: var(--primary);
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 30px;
        }
      }
      .center {
        .title {
          color: var(--primary);
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 30px;
        }
      }
      .right {
        .title {
          color: var(--primary);
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .profile {
    .container {
      width: 90%;
      .top {
        display: block;
        .left {
          width: 100%;
          .image {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
          }
        }
        .right {
          width: 100%;
          .enName {
            font-size: 12px;
          }
          .name {
            font-size: 30px;
            letter-spacing: 1.3px;
            margin-bottom: 30px;
          }
          ul {
            margin-bottom: 20px;
            li {
              font-size: 15px;
              line-height: 27px;
            }
          }
          .desc {
            font-size: 13px;
          }
        }
      }
      .bottom {
        width: 100%;
        .left {
          width: 33%;
        }
        .center {
          width: 33%;
        }
        .right {
          width: 33%;
        }
      }
    }
  }
}
