.work {
  width: 100%;
  padding: 80px 0px 200px 0px;
  overflow: hidden;

  .container {
    position: relative;
    max-width: 70%;
    margin: 0 auto;
  }

  .slideBox {
    position: relative;
    overflow: hidden;
    width: 100vw;

    .slider {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }

    .slide {
      margin-right: 30px; /* カードの余白 */
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

    .button {
      background: var(--primary);
      color: #fff;
      border: none;
      padding: 14px 25px;
      margin: 0 8px;
      cursor: pointer;
      border-radius: 4px;
      font-size: 15px;

      &:hover {
        background: black;
        border: 1px solid var(--primary);
        transition: all 0.4s;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .work {
    padding: 30px 0px 50px 0px;
    .container {
      max-width: 90%;
      .slideBox {
        .slide {
          margin-right: 15px;
        }
      }
      .bottom {
        display: block;
        .left {
          text-align: right;
          margin-bottom: 20px;
        }
        .right {
          display: none;
        }
      }
    }
  }
}
