.card {
  display: block;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  .image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    white-space: nowrap; /* テキストを折り返さない */
    overflow: hidden; /* はみ出した部分を隠す */
    text-overflow: ellipsis; /* はみ出した部分を省略記号で表示 */
  }
  .date {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1280px) {
  .card {
    width: 250px;
    padding: 15px;
  }
}
