.workCard {
  display: block;
  width: 600px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.4s;
  }
  .image {
    width: 100%;
    margin-bottom: 15px;
  }
  .clientName {
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .genre {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1280px) {
  .workCard {
    width: 300px;
    padding: 15px;
    max-height: fit-content;
    .image {
      width: 270px;
      height: auto;
    }
    .clientName {
      font-size: 13px;
    }
    .title {
      font-size: 18px;
    }
    .genre {
    }
  }
}
